<div ui-content-for="title">
  <span>Claims</span>
</div>

<div class="scrollable site-body">
<div class="scrollable-content">

  <!-- tabs -->
  <div ui-state="activeTab" default="1">
    <div class="btn-group justified nav-tabs heading-tabs">
      <a ui-set="{'activeTab': 1}"
          ui-class="{'active': activeTab == 1}" class="btn btn-default left">Add</a>

      <a ui-set="{'activeTab': 2}"
          ui-class="{'active': activeTab == 2}" class="btn btn-default right">View</a>
    </div>

    <div id="info-box"
         ng-class="{success: infoBox.success, error: !infoBox.success, visible: infoBox.visible}">
         <span ng-if="infoBox.success">Added</span>
         <span ng-if="!infoBox.success">Error, something went wrong</span>
    </div>

    <!-- form -->
    <div ui-if="activeTab == 1" class="tab-content">
    <div class="section" ng-controller="addClaimCtrl">
      <form role="form" name="addClaimForm" ng-submit='addClaim()'>
        <fieldset>
          <legend>Add claim</legend>

          <table width="100%" class="addNumTypeTable">
            <tr>
              <td>
                <div class="form-grouphas-success has-feedback">
                  <label for="addClaim-sum">Sum</label>
                  <input id="addClaim-sum"
                         type="number"
                         name="cost"
                         ng-model="cost"
                         class="form-control"
                         placeholder="Enter cost"
                         required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="addClaim-type">Type</label>

                  <div ng-dropdown-multiselect=""
                       id="multiselect"
                       options="types"
                       selected-model="typesSelected"
                       extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}"></div>

                </div>
              </td>
            </tr>
          </table>

            <div class="form-group">
              <label for="addIncome-description">Description</label>
              <textarea id="addIncome-description"
                        name="description"
                        ng-model="description"
                        class="form-control"
                        rows="4"
                        maxlength="255">
              </textarea>
            </div>

            <!-- more  -->
            <div class="panel-group" ui-shared-state="myAccordion">

              <div class="panel-more">
                <div class="panel-heading" ui-toggle="myAccordion">
                  <h4 class="panel-title button">
                      <span ui-if="!myAccordion">more</span>
                      <span ui-if="myAccordion">less</span>
                  </h4>
                </div>

                <div class="panel-body" ui-class="{'panel-visible': myAccordion, 'panel-hidden': !myAccordion}">

                  <div class="form-group">
                    <label for="addClaim-Issueddate">Date of Issue</label>
                    <input id="addClaim-Issueddate"
                           type="date"
                           name="date"
                           ng-model="date"
                           ng-blur="checkDate()"
                           class="form-control">
                  </div>

                  <div class="form-group">

                    <!--
                    <label for="addClaim-dueDate">Due date</label>
                    -->

                    <table class="title-table">
                      <tr>
                        <td>
                          <label for="dueDate">Due date</label>
                        </td>
                        <td>
                          <span ng-messages="addClaimForm.date.$error">
                            <span class="error-message" ng-message="required">Hoooovno</span>
                            <span class="error-message" ng-message="dueDateGtCurr">Hoooovno</span>
                            <span class="error-message" ng-message="dueDateGtDate">Hoooovno3</span>
                          </span>
                        </td>
                      </tr>
                    </table>

                    <input id="addClaim-dueDate"
                           type="date"
                           name="dueDate"
                           ng-model="dueDate"
                           ng-blur="checkDate()"
                           class="form-control">
                  </div>

                </div>
              </div>
            </div>
            <!-- /more  -->

        </fieldset>
        <hr class="cshr">

        <button class="btn btn-primary btn-block">
          Add
        </button>

        <div ui-content-for="navbarAction">
          <a class="btn" ng-click="login()">Login</a>
        </div>

      </form>
    </div>
    </div>

    <!-- listing -->
    <div ui-if="activeTab == 2">
      <div class="scrollable-content section">
        <h3 class="page-header">Tab 2</h3>
        <p><!-- ... --></p>
    </div>
    </div>

  </div>
</div>
</div>
