<div ui-content-for="title">
  <span>Expenses</span>
</div>

<div class="scrollable site-body" ui-state="activeTab" default="2">
  <div class="scrollable-header">
    <div class="btn-group justified nav-tabs heading-tabs">
      <a ui-set="{'activeTab': 1}"
          ui-class="{'active': activeTab == 1}" class="btn btn-default left">Add</a>

      <a ui-set="{'activeTab': 2}"
          ui-class="{'active': activeTab == 2}" class="btn btn-default right">View</a>
    </div>
  </div>
<div class="scrollable-content">

  <!-- tabs -->


    <div id="info-box"
         ng-class="{success: infoBox.success, error: !infoBox.success, visible: infoBox.visible}">
         <span ng-if="infoBox.success">Added</span>
         <span ng-if="!infoBox.success">Error, something went wrong</span>
    </div>

    <!-- form -->
    <div ui-if="activeTab == 1" class="tab-content">
    <div class="section" ng-controller="addExpenseCtrl">

      <form role="form" name="addExpenseForm" ng-submit='addExpenseForm.$valid && addExpense()'>
        <fieldset>
          <legend>Add expense</legend>
          <table width="100%" class="addNumTypeTable">
            <tr>
              <td>
                <div class="form-grouphas-success has-feedback">
                  <table class="title-table">
                    <tr>
                      <td>
                        <label for="addExpense-cost">Cost</label>
                      </td>
                      <td>
                        <span ng-messages="addExpenseForm.cost.$error" ng-show="!addExpenseForm.cost.$pristine || addExpenseForm.cost.$touched">
                          <span class="error-message" ng-message="required">Please fill me</span>
                        </span>
                      </td>
                    </tr>
                  </table>
                  <input id="addExpense-cost"
                         type="number"
                         name="cost"
                         ng-model="cost"
                         ng-model-options="{updateOn: 'blur'}"
                         class="form-control"
                         placeholder="Enter cost"
                         autofocus
                         required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="addExpense-type">Type</label>

                <div ng-dropdown-multiselect=""
                     id="multiselect"
                     options="types"
                     selected-model="typesSelected"
                     extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}">
                </div>

                </div>
              </td>
            </tr>
          </table>

            <div class="form-group">
              <label for="addExpense-description">Description</label>
              <textarea id="addExpense-description"
                        name="description"
                        ng-model="description"
                        class="form-control"
                        rows="4"
                        maxlength="255">
              </textarea>
            </div>


            <table width="100%" class="addDateLocationTable">
              <tr>
                <td>
                  <div class="form-group">
                    <label>Date</label>
                    <input id="addExpense-date"
                           type="date"
                           name="date"
                           ng-model="date"
                           class="form-control">
                  </div>
               </td>
               <td width="70">
                <div class="form-group">
                  <label>Location</label>
                  <ui-switch ng-model="getLocation"></ui-switch>
                </div>
              </td>
            </tr>
          </table>

        </fieldset>
        <hr class="cshr">

        <button class="btn btn-primary btn-block">
          Add
        </button>

        <div ui-content-for="navbarAction">
          <a class="btn" ng-click="login()">Login</a>
        </div>

      </form>
    </div>
  </div>

  <!-- listing -->
  <div ui-if="activeTab == 2">
    <div class="section" ng-controller="viewExpensesCtrl">

      <form role="form" name="sortExpenseForm" class="filterForm" ng-submit="">
        <fieldset ui-shared-state="filterDetails">
          <legend ui-toggle="filterDetails">
            Filter
            <span ui-if="filterDetails" class="glyphicon glyphicon-menu-up"></span>
            <span ui-if="!filterDetails" class="glyphicon glyphicon-menu-down"></span>
          </legend>

          <div class="form-body" ui-class="{'form-body-visible': !filterDetails, 'form-body-hidden': filterDetails}">

          <table width="100%" class="filter-table">
            <tr>
              <td>
                <div class="form-group">

                  <table class="title-table">
                    <tr>
                      <td>
                        <label for="filterExpense-dateFrom">Date from</label>
                      </td>
                      <td>
                        <span ng-messages="sortExpenseForm.dateFrom.$error">
                          <span class="error-message" ng-message="dateToGrDateFrom">Change</span>
                        </span>
                      </td>
                    </tr>
                  </table>


                  <input id="filterExpense-dateFrom"
                         type="date"
                         name="dateFrom"
                         max="{{dateTo | parseDateLimitForm}}"
                         ng-change="dateLimitChanged()"
                         ng-model="dateFrom"
                         class="form-control">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="filterExpense-dateTo">Date to</label>
                  <input id="filterExpense-dateTo"
                         type="date"
                         name="dateTo"
                         ng-change="dateLimitChanged()"
                         ng-model="dateTo"
                         ng-value="todayDate"
                         min="{{dateFrom | parseDateLimitForm}}"
                         max="{{todayDate}}"
                         class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td class="type">
                <label for="filterExpense-types">Type</label>
              </td>
              <td>
                <div ng-dropdown-multiselect=""
                     id="filterExpense-types"
                     options="types"
                     events="typesEvents"
                     selected-model="typesSelected"
                     extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}">
                </div>
              </td>
            </tr>
          </table>
        </div>
        </fieldset>
      </form>

      <table class="table table-striped">
        <thead>
            <tr>
              <th ng-click="order = 'cost'; reverse = !reverse">
                Cost
                <span ng-show="order == 'cost' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="order == 'cost' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th ng-click="order = 'date'; reverse = !reverse" class="col-date">
                Date
                <span ng-show="order == 'date' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="order == 'date' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th ng-click="order = 'description'; reverse = !reverse">
                Description
                <span ng-show="order == 'description' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="order == 'description' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th class="hidable400">Type</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in records | orderBy: order: reverse ">
            <td class="td-cost">{{record.cost | currency : "" : 0}}</td>
            <td class="col-date">{{ record.date | parseDate | date: 'MM.dd yy'}}</td>
            <td>{{record.description}}</td>
            <td class="hidable400">{{ record.types | joinTypes }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>

</div>
</div>
