<div data-ui-content-for="title">
  <span>Expenses</span>
</div>

<div class="scrollable site-body" data-ui-state="activeTab" data-default="1">
  <div class="scrollable-header">
    <div class="btn-group justified nav-tabs heading-tabs">
      <a data-ui-set="{'activeTab': 1}"
          data-ui-class="{'active': activeTab == 1}" class="btn btn-default left">Add</a>

      <a data-ui-set="{'activeTab': 2}"
          data-ui-class="{'active': activeTab == 2}" class="btn btn-default right">View</a>
    </div>
  </div>
<div class="scrollable-content">

    <div id="info-box"
         data-ng-class="{success: infoBox.success, error: !infoBox.success, visible: infoBox.visible}">
         <span data-ng-if="infoBox.success">Added</span>
         <span data-ng-if="!infoBox.success">Error, something went wrong</span>
    </div>

    <!-- tabs -->
    <!-- form -->
    <div data-ui-if="activeTab == 1" class="tab-content">
    <div class="section" data-ng-controller="addExpenseCtrl">

      <form role="form" name="addExpenseForm" data-ng-submit='addExpenseForm.$valid && addExpense()'>
        <fieldset>
          <legend>Add expense</legend>
          <table class="addNumTypeTable">
            <tr>
              <td>
                <div class="form-grouphas-success has-feedback">
                  <table class="title-table">
                    <tr>
                      <td>
                        <label for="addExpense-cost">Cost</label>
                      </td>
                      <td>
                        <span data-ng-messages="addExpenseForm.cost.$error" data-ng-show="!addExpenseForm.cost.$pristine || addExpenseForm.cost.$touched">
                          <span class="error-message" data-ng-message="required">Please fill me</span>
                        </span>
                      </td>
                    </tr>
                  </table>
                  <input id="addExpense-cost"
                         type="number"
                         name="cost"
                         data-ng-model="cost"
                         data-ng-model-options="{updateOn: 'blur'}"
                         class="form-control"
                         placeholder="Enter cost"
                         autofocus
                         required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label>Type</label>

                <div data-ng-dropdown-multiselect=""
                     data-options="types"
                     data-selected-model="typesSelected"
                     data-extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}">
                </div>

                </div>
              </td>
            </tr>
          </table>

            <div class="form-group">
              <label for="addExpense-description">Description</label>
              <textarea id="addExpense-description"
                        name="description"
                        data-ng-model="description"
                        class="form-control"
                        rows="4"
                        maxlength="255">
              </textarea>
            </div>


            <table class="addDateLocationTable">
              <tr>
                <td>
                  <div class="form-group">
                    <label>Date</label>
                    <input id="addExpense-date"
                           type="date"
                           name="date"
                           data-ng-model="date"
                           class="form-control">
                  </div>
               </td>
               <td>
                <div class="form-group">
                  <label>Location</label>
                  <ui-switch data-ng-model="getLocation"></ui-switch>
                </div>
              </td>
            </tr>
          </table>

        </fieldset>
        <hr class="cshr">

        <button class="btn btn-primary btn-block">
          Add
        </button>

      </form>
    </div>
  </div>

  <!-- listing -->
  <div data-ui-if="activeTab == 2">
    <div class="section" data-ng-controller="viewExpensesCtrl">

      <form role="form" name="sortExpenseForm" class="filterForm" data-ng-submit="">
        <fieldset data-ui-shared-state="filterDetails">
          <legend data-ui-toggle="filterDetails">
            Filter
            <span data-ui-if="filterDetails" class="glyphicon glyphicon-menu-up"></span>
            <span data-ui-if="!filterDetails" class="glyphicon glyphicon-menu-down"></span>
          </legend>

          <div class="form-body" data-ui-class="{'form-body-visible': !filterDetails, 'form-body-hidden': filterDetails}">

          <table class="filter-table">
            <tr>
              <td>
                <div class="form-group">

                  <table class="title-table">
                    <tr>
                      <td>
                        <label for="filterExpense-dateFrom">Date from</label>
                      </td>
                      <td>
                        <span data-ng-messages="sortExpenseForm.dateFrom.$error">
                          <span class="error-message" data-ng-message="dateToGrDateFrom">Change</span>
                        </span>
                      </td>
                    </tr>
                  </table>


                  <input id="filterExpense-dateFrom"
                         type="date"
                         name="dateFrom"
                         max="{{dateTo | parseDateLimitForm}}"
                         data-ng-change="loadResults()"
                         data-ng-model="dateFrom"
                         class="form-control">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="filterExpense-dateTo">Date to</label>
                  <input id="filterExpense-dateTo"
                         type="date"
                         name="dateTo"
                         data-ng-change="loadResults()"
                         data-ng-model="dateTo"
                         data-ng-value="todayDate"
                         min="{{dateFrom | parseDateLimitForm}}"
                         max="{{todayDate}}"
                         class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td class="type">
                <label>Type</label>
              </td>
              <td>
                <div data-ng-dropdown-multiselect=""
                     data-options="types"
                     data-events="typesEvents"
                     data-selected-model="typesSelected"
                     data-extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}">
                </div>
              </td>
            </tr>
          </table>
        </div>
        </fieldset>
      </form>

      <table class="table table-striped">
        <thead>
            <tr>
              <th data-ng-click="order = 'cost'; reverse = !reverse">
                Cost
                <span data-ng-show="order == 'cost' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="order == 'cost' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th data-ng-click="order = 'date'; reverse = !reverse" class="col-date">
                Date
                <span data-ng-show="order == 'date' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="order == 'date' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th data-ng-click="order = 'description'; reverse = !reverse">
                Description
                <span data-ng-show="order == 'description' && !reverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="order == 'description' && reverse" class="glyphicon glyphicon-triangle-top"></span>
              </th>
              <th class="hidable400">Type</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-show="!records.length" class="empty-set">
            <td colspan="4">- No transactions available -</td>
          </tr>
          <tr data-ng-repeat="record in records | orderBy: order: reverse " data-ng-click="showDetails(record)">
            <td class="td-cost">{{record.cost | currency : "" : 0}}</td>
            <td class="col-date">{{ record.date | parseDate | date: 'MM.dd yy'}}</td>
            <td>{{record.description}}</td>
            <td class="hidable400">{{ record.types | joinTypes }}</td>
          </tr>
        </tbody>
      </table>


      <!-- modal vindow -->

      <div class="my-modal ng-scope" data-ng-class="{'modal-visible': modalVisible, 'modal-hidden': !modalVisible}">
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-ng-click="modalVisible = false">×</button>
              <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">

              <table class="detail-table table">
                <tr>
                  <th>Cost</th>
                  <td>{{selectedRow.cost | currency : "" : 0}}</td>
                  <th>Date</th>
                  <td>{{selectedRow.date | parseDate | date: 'MM.dd yyyy' }}</td>
                </tr>
                <tr>
                  <th>Lat</th>
                  <td>{{selectedRow.lat}}</td>
                  <th>Lon</th>
                  <td>{{selectedRow.long}}</td>
                </tr>
              </table>

              <div class="description">
                <span>Description:</span>
                {{selectedRow.description}}
              </div>

              <div class="types-listing">
                <span>Type:</span>
                {{selectedRow.types | joinTypes }}
              </div>

              <div class="bottom-info">
                <span>Created:</span>
                {{selectedRow.created}}
              </div>

            </div>
            <div class="modal-footer">
              <table>
                <tr>
                  <td>
                    <button data-ng-click="recordDelete()" class="btn btn-default">Delete</button>
                  </td>
                  <td>
                    <button data-ng-click="modalVisible = false" class="btn btn-primary">Close</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- end of modal vindow -->

  </div>
  </div>

</div>
</div>
