<div data-ui-content-for="title">
  <span>Login</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

<div data-ui-content-for="modals">
    <div class="modal modal-overlay" data-ui-default="modalWin = 1" data-ui-if="modalWin" data-ui-shared-state="modalWin">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body" data-ng-controller="loginCtrl">
<!-- content body start  -->

<form role="form" name="loginForm" novalidate data-ng-submit='login()'>
  <fieldset>
    <legend>Login</legend>
      <div class="form-group has-success has-feedback">
        <table class="title-table">
          <tr>
            <td>
              <label for="login-email">Email</label>
            </td>
            <td>
              <span class="error-message" data-ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Please type valid email address</span>
            </td>
          </tr>
        </table>

        <input type="email"
              id="login-email"
              name="email"
              data-ng-model="email"
              data-ng-model-options="{updateOn: 'blur'}"
              class="form-control"
              placeholder="Enter email"
              required>
      </div>

      <div class="form-group">
        <table class="title-table">
          <tr>
            <td>
              <label for="login-password">Password</label>
            </td>
            <td>
              <span class="error-message" data-ng-show="loginForm.pass.$invalid && !loginForm.pass.$pristine">
                We need 5 chars or more.
              </span>
            </td>
          </tr>
        </table>
        <input id="login-password"
               name="pass"
               data-ng-model="pass"
               data-ng-model-options="{updateOn: 'blur'}"
               type="password"
               class="form-control"
               placeholder="Password"
               pattern=".{5,}"
               required>
      </div>

      <div class="form-group">
        <label>Remember Me</label>
        <ui-switch data-ng-model="rememberMe">
        </ui-switch>
      </div>
  </fieldset>
  <hr>

  <button class="btn btn-primary btn-block" data-ng-disabled="loginForm.$invalid">
    Login
  </button>

</form>

<!-- content body ends -->
          </div>
        </div>
      </div>
    </div>
</div>

  </div>
</div>
