<div ui-content-for="title">
  <span>Long term expenses</span>
</div>

<div class="scrollable site-body">
<div class="scrollable-content">

   <!-- tabs -->
   <div ui-state="activeTab" default="1">
     <div class="btn-group justified nav-tabs heading-tabs">
       <a ui-set="{'activeTab': 1}"
           ui-class="{'active': activeTab == 1}" class="btn btn-default left">Add</a>

       <a ui-set="{'activeTab': 2}"
           ui-class="{'active': activeTab == 2}" class="btn btn-default right">View</a>
     </div>

     <div id="info-box"
          ng-class="{success: infoBox.success, error: !infoBox.success, visible: infoBox.visible}">
          <span ng-if="infoBox.success">Added</span>
          <span ng-if="!infoBox.success">Error, something went wrong</span>
     </div>

     <!-- form -->
     <div ui-if="activeTab == 1" class="tab-content">
       <div class="section" ng-controller="addLongTermExpenseCtrl">
       <form role="form" name="addLongTermExpenseForm" ng-submit='addLongTermExpenseForm.$valid && addLongTermExpense()'>
         <fieldset>
           <legend>Add long term expense</legend>

           <table width="100%" class="addNumTypeTable">
             <tr>
               <td>
                 <div class="form-grouphas-success has-feedback">

                   <table class="title-table">
                     <tr>
                       <td>
                         <label for="addLongTermExpense-cost">Cost</label>
                       </td>
                       <td>
                         <span ng-messages="addLongTermExpenseForm.cost.$error" ng-show="!addLongTermExpenseForm.cost.$pristine || addLongTermExpenseForm.cost.$touched">
                           <span class="error-message" ng-message="required">Please fill me</span>
                         </span>
                       </td>
                     </tr>
                   </table>

                   <input id="addLongTermExpense-cost"
                          type="number"
                          name="cost"
                          ng-model="cost"
                          ng-model-options="{updateOn: 'blur'}"
                          class="form-control"
                          placeholder="Enter cost"
                          autofocus
                          required>
                 </div>
               </td>
               <td>
                 <div class="form-group">
                   <label for="addLongTermExpense-type">Type</label>

                   <div ng-dropdown-multiselect=""
                        id="multiselect"
                        options="types"
                        selected-model="typesSelected"
                        extra-settings="{smartButtonMaxItems: 3, showCheckAll: false, showUncheckAll: false, displayProp: 'name'}"></div>

                 </div>
               </td>
             </tr>
           </table>

             <div class="form-group">
               <label for="addLongTermExpense-description">Description</label>
               <textarea id="addLongTermExpense-description"
                         name="description"
                         ng-model="description"
                         class="form-control"
                         rows="4"
                         maxlength="255">
               </textarea>
             </div>

     <!-- more  -->
             <div class="panel-group" ui-shared-state="myAccordion">

               <div class="panel-more">
                 <div class="panel-heading" ui-toggle="myAccordion">
                   <h4 class="panel-title button">
                       <span ui-if="!myAccordion">more</span>
                       <span ui-if="myAccordion">less</span>
                   </h4>
                 </div>

                 <div class="panel-body" ui-class="{'panel-visible': myAccordion, 'panel-hidden': !myAccordion}">
                   <div class="form-group">
                     <label>Date</label>
                     <input id="addLongTermExpense-cost"
                            type="date"
                            name="date"
                            ng-model="date"
                            class="form-control">
                   </div>
                 </div>

               </div>
             </div>
     <!-- /more  -->

         </fieldset>

         <hr class="cshr">

         <button class="btn btn-primary btn-block">
           Add
         </button>

         <div ui-content-for="navbarAction">
           <a class="btn" ng-click="login()">Login</a>
         </div>

       </form>
     </div>
     </div>

     <!-- listing -->
     <div ui-if="activeTab == 2">
       <div class="scrollable-content section">
         <h3 class="page-header">Tab 2</h3>
         <p><!-- ... --></p>
     </div>
     </div>

   </div>
</div>
</div>
