.scrollable.site-body {background-color: white}
hr.cshr {margin-top: 0px}
.full-width {width: 100%}

.addNumTypeTable {width: 100%}
.addNumTypeTable tr td:first-of-type {padding-right: 5px}
.addDateLocationTable {width: 100%}
.addDateLocationTable tr td:first-of-type {padding-right: 10px}
.addDateLocationTable tr td:last-of-type {width: 70px}

.panel-more .panel-heading {
    text-align: center; background: url('../img/line-bg.png') left center repeat-x;
    border: none; outline: none
}

.panel-more .panel-heading .panel-title {
    display: table; margin: 0px auto; padding: 4px 10px 4px 10px; margin-top: 0px; outline: 10px solid white;
    border: 1px solid #c6c6c6; background-color: rgb(247, 247, 247); border-radius: 3px
}

.heading-tabs {background-color: orange; border: 0px; padding: 0px}
.heading-tabs a.left, .heading-tabs a.right {border-top: none}
.heading-tabs a.left {border-radius: 0px; border-left: none}
.heading-tabs a.right {border-radius: 0px; border-right: none}

.panel-group .panel-body.panel-visible {display: block}
.panel-group .panel-body.panel-hidden {display: none}

.tab-content .section {padding-top: 1.5em}

a#logout {font-size: 18px; top: 4px; display: inline-block}

#info-box {overflow-y: hidden;
           max-height: 0px;

           transition-property: all;
	         transition-duration: 1.5s;
           transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

           font-size: 13px;
           text-align: center;
           color: #fff;
           background-color: green;
}

#info-box span {margin: 2px;}
#info-box.visible {max-height: 20px}
#info-box.error {background-color: #EA4335}
#info-box.success {background-color: #7CBB00}

/* form controls */
.has-success .form-control {border-color: #ccc}

input.ng-dirty.ng-invalid {border-color: #fc0}
input.ng-dirty.ng-valid {border-color: orange}

/*form error message*/

form table.title-table {width: 100%}
form table.title-table tr td:last-child {text-align: right}
form table.title-table tr td:last-child span.error-message {padding-left: 20px; font-size: 14px; margin-top: -5px; color: #e23d55}

form table .multiselect-parent, form table .multiselect-parent .dropdown-toggle { width: 100% }
form table .multiselect-parent ul.dropdown-menu { min-width: 100%; max-width: 100%; width: 100% }
form table .multiselect-parent ul.dropdown-menu li, form table .multiselect-parent ul.dropdown-menu li a {text-overflow: ellipsis}

/* data view */

@media (max-width: 400px) {
     .hidable400 {
         display:None;
     }
}

@media (max-width: 450px) {
     .hidable450 {
         display:None;
     }
}

table.table { width: 100%; overflow: hidden}
table.table td.td-cost {text-align: right}
table.table td {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}

table.table tr td.col-date {width: 65px}

table.table.table-fixed thead {
  width: 97%;
}
table.table.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
table.table.table-fixed thead, table.table.table-fixed tbody, table.table.table-fixed tr, table.table.table-fixed td, table.table.table-fixed th {
  display: block;
}
table.table.table-fixed tbody td, table.table.table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

form.filterForm table.filter-table {width: 100%}
form.filterForm table.filter-table tr td:first-of-type {padding-right: 5px}
form.filterForm table.filter-table tr td input[type=date] {display: inline-block; min-width: 138px}
form.filterForm table.filter-table tr td.type {text-align: right; padding-right: 5px}
form.filterForm fieldset {padding-bottom: 1.2em}
form.filterForm fieldset legend {margin-bottom: 0px}
form.filterForm fieldset legend span.glyphicon {font-size: 14px}
form.filterForm fieldset div.form-body {border-bottom: 1px solid #e5e5e5; padding-bottom: 1em}
form.filterForm fieldset div.form-body.form-body-visible {display: block}
form.filterForm fieldset div.form-body.form-body-visible {display: none}

.my-modal {position: fixed; display: none; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0}
.my-modal.modal-visible {display: block}
.my-modal.modal-hidden {display: none}

.my-modal .modal-footer table {width: 100%}
.my-modal .modal-footer table tr td:first-of-type {text-align: left}
.my-modal .modal-footer table tr td:last-of-type {text-align: right}

.my-modal table.table.detail-table {border-bottom: 1px solid #ddd; margin-bottom: 10px}
.my-modal table.table.detail-table tr td {border-top: none}
.my-modal table.table.detail-table tr th {border-top: none}
.my-modal table.table.detail-table.single tr th {width: 20px}

.my-modal .modal-body {padding-bottom: 0px}
.my-modal div.description {padding-left: 8px; padding-right: 8px}
.my-modal div.description span {font-weight: bold; margin-right: 5px}
.my-modal div.types-listing {padding-left: 8px; padding-right: 8px; padding-top: 20px}
.my-modal div.types-listing span {font-weight: bold; margin-right: 5px}
.my-modal div.bottom-info {font-size: 10px; text-align: right; color: gray; margin-top: 1em}


form[name="typesConfigForm"] legend {width: 70px}

table#settings {margin-top: -50px; width: 100%}
table#settings th {vertical-align: bottom; text-align: left; padding-bottom: 0.5em}
table#settings th.rotate {height: 95px; white-space: nowrap; background-color: white}
table#settings th.rotate div {transform: translate(0px, -10px) rotate(320deg);
                              width: 35px;
                              text-align: left}
table#settings tr td {padding-bottom: 0.5em}
table#settings tr td input.name {width: 100px; margin-right: 15px; padding: 2px 4px 2px 4px; border: 1px solid #ccc; border-radius: 2px}
table#settings tr td div.loading {background-color: #ededf1; height: 14px}
table#settings tr td div.loading.name {width: 100px}
table#settings tr td div.loading.checkbox {width: 13px; height: 13px}
